<section class="container">
<div class="section-accessibility">
    <h1 class="accessibility-title">Accessibility statement</h1>
    <p class="accessibility-text">
        The operator of the website <a href="https://embroidery-wds4.vercel.app" class="accessibility-link">https://embroidery-wds4.vercel.app</a> undertakes to ensure the accessibility of
        its website in accordance with the requirements of the law and international standards,
        in particular WCAG 2.1 level AA.
    </p>
</div>
<div class="section-accessibility">
    <h2 class="accessibility-subtitle">Objective</h2>
    <p class="accessibility-text">
        We strive to ensure that all users, including people with disabilities,
        have full and equal access to the information and functionality of our website.
    </p>
</div>
<div class="section-accessibility">
    <h2 class="accessibility-subtitle">Compliance status</h2>
    <p class="accessibility-text">
        This website fully complies with the requirements of WCAG 2.1 level AA. The following aspects were taken
        into account during development and testing:
    </p>
    <ul class="accessibility-list">
        <li>All images have alternative text (alt).</li>
        <li>Sufficient contrast between text and background is provided.</li>
        <li>Forms have appropriate labels for input fields.</li>
        <li>Navigation is possible using the keyboard with visible focus.</li>
        <li>Semantic markup is used to improve accessibility.</li>
    </ul>
</div>
<div class="section-accessibility">
    <h2 class="accessibility-subtitle">Tools and methods used</h2>

    <p class="accessibility-text">During the development and testing of accessibility, we used:</p>
    <ul class="accessibility-list">
        <li>Web Content Accessibility Guidelines (WCAG) 2.1.</li>
        <li>Automated accessibility testing tools.</li>
        <li>Testing using the keyboard and assistive technologies.</li>
    </ul>
</div>
<div class="section-accessibility">
    <h2 class="accessibility-subtitle">Date of preparation</h2>
    <p class="accessibility-text">This statement was made on April 22, 2025, based on an independent assessment of the website's
        accessibility.</p>
</div>

<div class="section-accessibility">
    <h2 class="accessibility-subtitle">Feedback</h2>

    <p class="accessibility-text">
        If you find any problems with accessibility or have any suggestions for improving it, please contact us:
    </p>

    <p class="accessibility-text">
        Email: <a href="mailto:embroideryhelp@gmail.com" class="accessibility-link">embroideryhelp@gmail.com</a>
    </p>

    <p class="accessibility-text">
        We are committed to continuously improving the accessibility of our website and value your feedback.
    </p>
</div>
</section>